{% extends 'baseLogin.html.twig' %}

{% block body %}

    <form action="{{ path('login') }}" method="POST"  class="form-signin">
        <img src="{{ asset('images/logo.png') }}" alt="Sign in!" style="width:100%" />
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey }}
            </div>
        {% endif %}
        <input type="text" id="username" class="form-control" placeholder="UserName" name="_username" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="_password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
           
{% endblock %}