{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="row justify-content-md-center">
  <div class="col-8" style="text-align:center;margin-top:40px">
      <h1>Devices</h1>
  </div>
</div>
<div class="row justify-content-md-center" style="margin-top:6%">
  <div class="col-8">
    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Serial N°</th>
            <th scope="col">Company Used</th>
            <th scope="col">Inspector Asigned</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody> 
            {% for device in devices %}
                <tr>
                    <td>{{ device.serialNumber }}</td>
                    <td>{{ device.companyUsed }}</td>
                    <td>{{ device.inspectorUsed }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
