<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NORAD | Radon Detection System{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="css/header.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <body style="overflow-x:hidden">
        {% block header %}
            <nav class="site-header sticky-top py-1 row">
                <div class="col-1"></div>   
                <div class="col-3  justify-content-between">
                    <img src="{{ asset('images/logo.png') }}" alt="Sign in!" style="width:20%" />
                </div>
                <div class="col-4 row  justify-content-between">
                    <a class="py-3 d-none d-md-inline-block col-4"  href="{{ path('admin') }}" >Device Management</a>
                    <a class="py-3 d-none d-md-inline-block col-4"  href="{{ path('companies') }}" >Client Management</a>
                    <a class="py-3 d-none d-md-inline-block col-4"  href="{{ path('admin') }}" >Administration</a>
                </div>
                <div class="col-4 row">
                    <div class="col-10"></div>   
                    <div class="col-2 py-3"><a class=" col-1"  href="{{ path('logout') }}" >Logout</a></div>
                </div>
            </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}
        
    </body>
</html>
